body{
    background-color: white;
}

.container1{
    background-color: #483e82;
}

.nav-row{
    padding: 15px 40px;
    border-bottom: 1px solid #3333332e;
}

.navbar-fixed-top {
    position: fixed;
}

.btn-menu{
    background-color: transparent;
    border: none;
    color: #FCD232;
    margin-top: 10px;
    font-size: 12px;
}

.btn-menu:hover{
    background-color: transparent;
    border: none;
    color: #d0a611;
    text-decoration: none;
    cursor: pointer;
}

.logo{
    height: 35px;  
}

.nav-btn-right a{
    font-weight: bold;
    padding: 10px;
    font-size: 11px;
    border: none;
    margin-left: 10px;
}

.btn1-nav , .btn2-nav:hover,  .btn1-nav:focus, .btn1-nav.btn-default:active {
    background-color: #FCD232;
    color: black;
    border: none;
}

.btn2-nav, .btn1-nav:hover, .btn2-nav:focus, .btn2-nav.btn-default:active {
    background-color: black;
    color: #FCD232;
    border: none;
}

.container2{
    background-color: #483e82;
}

.row1 .p1{
    text-align: center;
    color: #EBDFF0;
    font-size: 12px;
    margin-top: 15vh;
}

.p1-1{
    color: #FCD232;
    text-decoration: underline;
    font-weight: bold;
}

.p1-1:hover, .p1-1:active, .p1-1:focus{
    text-decoration: underline;
    color: black;	
}

.row1 h1{
    text-align: center;
    color: white;  
    font-weight: bold;
    font-size: 36px;
    margin-top: 80px;  
    text-transform: uppercase;
}

.row1 .p2{
    text-align: center;
    color: #EBDFF0;
    font-size: 14px;
    line-height: 16px;
}

.btn4{
    font-weight: bold;
    padding: 10px 25px;
    margin: 25px 5px;
    font-size: 11px;
}

.background {
    background-color: #483e82;
    padding: 35vh 20px;
    width: 100%;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 54%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
    margin-top: -2px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.row2{
    margin-top: 25px;
}

.row2-1{
    padding: 10px 8px;
    z-index: 1;
}

.panel-default-1{
    border: 0px;
    border-radius: 5px;
    margin-bottom: 0px;
}

.panel-body-1{
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.panel-body-1 img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 36vh;
}

.game{
    background-color: #333;
    border-radius: 4px 4px 0 0;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.panel-body1-1{
    color: #333;
    padding: 8px 0 0 0;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-body-2 h5{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}

.panel-body-2 p{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 11px;
}

.category-span{
    color: #45c3ce;
}

.panel-body-3 img{
    height: 38px;
    background-color: #333;
    border-radius: 50%;
    padding: 5px;
    float: right;
    margin-top: 8px;   
}

.panel-body-4{
    margin-top: 16px;
    margin-bottom: 30px;
}

.fa-clock-1{
    font-size: 18px;
    padding-left: 0px;
}

.time{
    margin-top: 0px;
    font-weight: bold;
    font-size: 13px;
    padding-left: 0px;
}

.time span{
    font-weight: normal;
    font-size: 10px;
}

.background-footer {
    background-color: #483e82;
    margin-bottom: -2px;
    width: 100%;
    height: 36vh;
    -webkit-clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
    margin-top: -45vh;
    z-index: -1;
    position: relative;
}

/*footer*/

.container4{
    background-color: #483e82;
    padding-bottom: 66px;
    margin-bottom: -2px;
}

.container4 .row4 h1{
    margin-top: 22vh;
}

.navbar-default-3{
    background-color: #483e82;
    border-color: #403672;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #403672;
    padding: 15px 0px ; 
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 11px;
    padding-right: 25px;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FCD232;
    border: none;
}

.row3-2{
    margin-top: 8px;
}

.row3-3 i{
    color: #FCD232;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 15px;
}

.row3-3 i:hover{
    color: black;
}

/*modal*/ 

.modal-dialog{
    margin: 0px;
    border-radius: 0px;
    width: 48vh;
}

.modal-content{
    height: 100vh;
    border: none;
    border-radius: 0px;
}

.modal-header {
    display: flex;
    align-items: center;
    outline: none;
    padding: 20px 10px;
    border-bottom: none;
    margin-bottom: 50px;
}

.logo-modal{
    width: 47%;
    margin-left: 3%;
}

.logo-modal-1{
    height: 30px;
}

.button-close{
    width: 47%;
}

.close{
    display: flex;
    align-items: center;
    outline: none;
    opacity: 9;
    float: right;
    color:black;
}

.close:hover{
    color:#fdd445;
}

.close1 {
    font-size: 36px;
    font-weight: 100;
}

.close2{
    margin-bottom: 3px;
    font-size: 12px;
    display: flex;
    align-items: center;
    outline: none;   
}

.modal-body {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    border-radius: 0px;
}

.list-group .list-group-item{
    border-radius: 0px;
    border-left: none;
}

.list-group-item:first-child{
    border-top: none;
}

.y{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.y:hover, .y:active, .y:focus{
    color: #fcd445;
    font-weight: bold;
    text-decoration: none;
}

/* Single-Page*/

.background_sp{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 54%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
    background-image: url("images/PHUNEICVGU.jpg");
    padding: 46vh 20px;
    width: 100%;
    position: absolute;
    background-size: cover;
}

.btn_sp{
    margin-top: 7vh;
}

.game_sp{
    margin-top:100vh;
}

.game_name_sp{
    font-weight: bold;
    margin-bottom: 20px;
}

.row1_sp{
    background-color: #ececec;
    border-radius: 5px;
    margin-bottom: 20px;
}

.row1_sp .panel-body-sp{
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 10px 0 20px 40px;
}

.fa_sp {
    padding-right: 25px;
    font-size: 18px;
    padding-left: 0px;
}

.time_sp{
    font-size: 12px;
}

.step_sp{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.desc_sp{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.background-footer-sp {
    background-color: #483e82;
    margin-bottom: -2px;
    width: 100%;
    height: 35vh;
    -webkit-clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
    position: relative;
    clear: both;
}

.sp .container4 .row4 h1{
    margin-top: -2vh;
}

.bottom-padding{
    padding-bottom: 80px;
}

/*About Us*/

.nav-about{
    background-color: #5f5f5f;
}

.nav-right-about a{
    color:#f1ca42;
    text-align: right;
    padding: 30px 15px;
    font-size: 18px;
}

.about{
    background-color: white;
    height: 50vh;
}
.about h1 {
    font-family: inherit;
    font-size: 65px;
    color: #333;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.about-text h2{
    color: #333;
    font-size: 20px;
    font-weight: bold;

}

.about-text{
    margin-top: 50px;
    margin-bottom: 50px;

}

.about-text h2{
    font-weight: bold;
    font-size: 22px;
}

.about-text p{
    font-size: 16px;
}

.about-text p{
    margin: 30px 0 ;

}

.image-fix{
    background-image: url("images/PHUNEICVGU.jpg");
    min-height: 30vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.learn{
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 10vh;
}

.footer-about{
    background-color: #333;
    
}

.footer h5{
    color: white;
    font-weight: bold;
    text-align: center;
}

.row3-1-about li a{
        color: white;
        font-size: 11px;
        padding-right: 25px;
        font-weight: bold;

}

.row3-1-about li a:hover {
    color: #FCD232;
    border: none;
    background-color: #333;
}

.row3-1-about li a:focus {
    color: #FCD232;
    border: none;
    background-color: #333;
}


/*Contact*/

.contact-img{
    background-image: url("images/gray-desktop-background-simple-business-desktop-background-d-gray-man-desktop-background.jpg");
    min-height: 30vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*result*/

.result{
    background-color:#483e82;
    color:black;
    padding-top:10px;
    background-size:cover;
}

.logo_result{
    height: 50px;
    margin-top:20px;
    margin-bottom:20px;
}

.print_result{
    color:yellow;
    font-weight:bold;
    margin-bottom:50px;
    text-align:center;
    margin-top:25vh;
}

/*loginOrRegister*/

.lg_rg{
    background-color:#483e82;
    color:black;
    padding-top:10px;
    background-size:cover;
}

.log, .reg{
    color:#f1ca42;
    font-weight:bold;
}

.login input{
    width:100%;
    border-radius:5px;
    height:30px;
}

.register input{
    width:100%;
    border-radius:5px;
    height:30px;
}

.login, .register{
    padding:20px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 50px;
}

.submit1{
    font-weight:bold;
    border-radius:5px;
    padding:5px 10px;
}







@media  only screen and (min-width: 1440px){

    .row1 .p1 {
        margin-top: 10vh;
    }
    .panel-body-1 .image {
        height: 30vh;
    }
}

@media  only screen and (min-width: 1025px){

    .panel-body-1 img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 33vh;
    }

    .row2-1{
        position: static;
    }

    .panel-body-2 h5 {
        font-size: 12px;
    }  
}

@media  only screen and (max-width: 1024px) and (min-width:991px){

    .row1 .p1 {
        margin-top: 13vh;
    }

    .row1 h1 {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 36px;
        margin-top: 50px;
        text-transform: uppercase;
    }

    .panel-body-1 img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 33vh;
    }

    .background-footer-sp {
        background-color: #483e82;
        margin-bottom: -2px;
        width: 100%;
        height: 20vh;
        -webkit-clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
        margin-top: 160vh;
        z-index: -1;
        position: relative;
    }

    .navbar-default .navbar-nav>li>a {
        padding-right: 10px;
    }
}

@media  only screen and (max-width: 991px) and (min-width:768px){
    
    .row1 .p1 {
        margin-top: 15vh;
    }

    .row1 h1 {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 36px;
        text-transform: uppercase;
    }

    .panel-body-1 img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 33vh;
    }

    .row1_sp {
        padding: 26px 0px;
        background-color: #ececec;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .background-footer-sp {
        background-color: #483e82;
        margin-bottom: -2px;
        width: 100%;
        height: 20vh;
        -webkit-clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
        margin-top: 0vh;
        z-index: -1;
        position: relative;
    }

    .navbar-default .navbar-nav>li>a {
        padding-right: 10px;
    }
}

@media  only screen and (max-width: 767px){
    
    /*home page*/

    .nav-row {
        padding: 10px 0;
        border:none;
    }

    .btn-menu {
        margin-top: 5px;
    }

    .logo {
        height: 25px;
    }

    .nav-btn-right a {
        min-width: 18vh;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 10px 5px;
        font-size: 10px;
        margin-left: 5px;
    }

    .row1 .p1 {
        font-size:  x-small;
        margin-top: 9vh;
    }

    .row1 h1{
        text-align: center;
        color: white;  
        font-weight: bold;
        font-size: 18px;
        margin-top: 0px;  
        text-transform: uppercase;
        padding: 0 5vh;
    }
    
    .row1 .p2{
        text-align: justify;
        text-align-last: center;
        font-size: smaller;
    }

    .btn4 {
        min-width: 18vh;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 9px 10px;
        font-size: 11px;
    }

    .background{
        background-color: #483e82;
        padding: 9vh 20px;
        width: 100%;
        position: absolute;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 3%, 0 64%);
        clip-path: polygon(0 0, 100% 0, 100% 3%, 0 64%);
        margin-top: -2px;
    }

    .row2 {
        margin-top: 10vh;
    }

    .panel-body1-1 {
        border-radius: 5px;
    }

    .panel-body-2 h5 {
        padding-top: 0px;
    }

    .panel-body-3 img {
        margin-top: 10px;
    }

    .panel-body-4 {
        margin-top: 16px;
        margin-bottom: 15px;
    }

    .time{
        padding-left: 0px;
    }

    .background-footer {
        height: 20vh;
        margin-top: -10vh;
    }

    /*single page*/

    .background_sp {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 54%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
        background-image: url(images/PHUNEICVGU.jpg);
        padding: 25vh 20px;
        width: 100%;
        position: absolute;
        background-size: cover;
    }

    .game_sp {
        margin-top: 52vh;
    }

    .row1_sp {
        padding: 26px 0px;
        background-color: #ececec;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .panel-body-4, .panel-body-sp {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px 10px 5px 15px;
    }

    .fa_sp {
        font-size: 18px;
        padding-left: 0px;
        text-align: center;
        margin-right: 5px;
    }

    .background-footer-sp {
        height: 20vh;
        margin-top: 5vh;
    }

    /*footer*/

    .container4 {
        background-color: #483e82;
        padding-bottom: 0px;
    }

    .container4 .row4 h1{
        margin-top: 0vh;
    }

    .row3 {
        margin-top: 0px;
    }

    .navbar-default-3 {
        border-top: 0px;
    }

    .navbar-nav {
        margin:15px 0px;
        padding: 0;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .row3-1{
        text-align: center;
    }

    .row3-1 li{
        width: 25%;
        display: inline-block;
    }

    .row3-2{
        margin-bottom: 10px;
    }

    .row3-3 i {
        color: #FCD232;
        margin: 15px;
        font-size: 20px;
    }

    /*about*/

    .about h1 {
        font-family: inherit;
        font-size: 50px;
        color: #333;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }

}

@media  only screen and (max-width: 306px){
    
    .nav-btn-right a:first-child {
        min-width: 18vh;
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 10px 5px;
        font-size: 10px;
        margin-left: 5px;
    }

    .fa-clock-1 {
        padding-right: 25px;
        font-size: 18px;
        padding-left: 0px;
    }

    .btn-menu {
        padding: 0 5px;
        margin-top: 5px;
    }
}